:root{
    /*These colors represent the ones the style guide provided.*/
    --primary-color-space-cadet: #2d2f73;
    --primary-color-oxley: #81a584;
    --primary-color-jarcarta: #383979;
    --primary-color-white: #ffffff;
    --primary-color-black: #000000;

    --secondary-color-mandarin: #f47a4b;
}